@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: $font-basic;
    color: var(--ColorSurface);
    background: var(--ColorBackground);
    letter-spacing: -0.01em;
    overflow: hidden;
}

button {
    letter-spacing: -0.01em;
}

.sr-only {
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
}

.sl-ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.multi-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

/* basic 버튼 */
.basic-btn {
    padding: 1.1rem 2rem;
    border-radius: 1rem;
    background: var(--ColorPrimary);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    color: var(--ColorBtnSurface);
}

/* 재생 버튼 */
.btn-play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--ColorPrimary);

    &::before {
        content: '';
        display: block;
        width: 1.4rem;
        height: 1.4rem;
        @include mask-image(#fff, '/assets/img/icon/icon-play.svg');
    }

    &.next::before {
        -webkit-mask-image: url(/assets/img/icon/icon-play-next.svg);
        mask-image: url(/assets/img/icon/icon-play-next.svg);
    }

    &.pause::before {
        -webkit-mask-image: url(/assets/img/icon/icon-pause.svg);
        mask-image: url(/assets/img/icon/icon-pause.svg);
    }

    &.stop::before {
        -webkit-mask-image: url(/assets/img/icon/icon-stop.svg);
        mask-image: url(/assets/img/icon/icon-stop.svg);
    }
}

/* file-export 버튼 */
.btn-file-export {
    width: 2.4rem;
    height: 2.4rem;
    @include mask-image(
        var(--ColorGrayLv3),
        '/assets/img/icon/icon-file-export.svg'
    );

    &:hover {
        background: var(--ColorSurface);
    }
}

/* file-import 버튼 */
.btn-file-import {
    width: 2.4rem;
    height: 2.4rem;
    @include mask-image(
        var(--ColorGrayLv3),
        '/assets/img/icon/icon-file-import.svg'
    );

    &:hover {
        background: var(--ColorSurface);
    }
}

/* code-download 버튼 */
.btn-code-download {
    width: 2rem;
    height: 2rem;
    @include mask-image(
        var(--ColorGrayLv3),
        '/assets/img/icon/icon-code-download.svg'
    );

    &:hover {
        background: var(--ColorSurface);
    }
}

/* code-upload 버튼 */
.btn-code-upload {
    width: 2rem;
    height: 2rem;
    @include mask-image(
        var(--ColorGrayLv3),
        '/assets/img/icon/icon-code-upload.svg'
    );

    &:hover {
        background: var(--ColorSurface);
    }
}

/* close 버튼 */
.btn-close {
    width: 2rem;
    height: 2rem;
    @include mask-image(var(--ColorGrayLv3), '/assets/img/icon/icon-close.svg');

    &:hover {
        background: var(--ColorSurface);
    }
}

.button-before {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 1rem;
    padding: 0.7rem;
    box-sizing: border-box;

    &:hover,
    &.active {
        background: var(--ColorActivation);
    }

    &:disabled:hover,
    &:disabled.active {
        background: transparent;
    }

    &::before {
        content: '';
        display: block;
        width: 2.8rem;
        height: 2.8rem;
    }

    /* 스토리보기 버튼 */
    &.btn-story {
        &::before {
            @include mask-image(
                var(--ColorGrayLv3),
                '../../assets/img/icon/icon-book.svg'
            );
        }

        &.active::before {
            background: var(--ColorPrimary);
        }
    }

    /* 벽 만들기 버튼 */
    &.btn-wall {
        &::before {
            @include mask-image(
                var(--ColorGrayLv3),
                '/assets/img/icon/icon-wall-import.svg'
            );
        }

        &:disabled::before {
            @include mask-image(
                var(--ColorGrayLv2),
                '/assets/img/icon/icon-wall-import.svg'
            );
        }
    }

    /* 에셋 추가 버튼 */
    &.btn-assets {
        &::before {
            @include mask-image(
                var(--ColorGrayLv3),
                '/assets/img/icon/icon-asset-import.svg'
            );
        }

        &:disabled::before {
            @include mask-image(
                var(--ColorGrayLv2),
                '/assets/img/icon/icon-asset-import.svg'
            );
        }
    }

    /* 월드 크기 조정 버튼 */
    &.btn-resize {
        &::before {
            @include mask-image(
                var(--ColorGrayLv3),
                '/assets/img/icon/icon-world-size.svg'
            );
        }

        &:disabled::before {
            @include mask-image(
                var(--ColorGrayLv2),
                '/assets/img/icon/icon-world-size.svg'
            );
        }
    }

    /* 속도 조절 버튼 */
    &.btn-speed::before {
        @include mask-image(
            var(--ColorGrayLv3),
            '/assets/img/icon/icon-speed-control.svg'
        );
    }

    /* 함수 리스트 버튼 */
    &.btn-function::before {
        @include mask-image(
            var(--ColorGrayLv3),
            '/assets/img/icon/icon-function-list.svg'
        );
    }

    /* 변수 리스트 버튼 */
    &.btn-variable::before {
        @include mask-image(
            var(--ColorGrayLv3),
            '/assets/img/icon/icon-variable-list.svg'
        );
    }

    /* 초기화 버튼 */
    &.btn-reset::before {
        @include mask-image(
            var(--ColorGrayLv3),
            '/assets/img/icon/icon-reset.svg'
        );
    }

    &.active::before {
        background: var(--ColorSurface);
    }
}

/* 다크 모드 버튼 */
.btn-dark-mode {
    position: relative;
    width: 5.6rem;
    height: 3.2rem;
    background: var(--ColorPrimary);
    border-radius: 3.2rem;
    box-sizing: border-box;

    &::after {
        content: '';
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        width: 2.2rem;
        height: 2.2rem;
        background: var(--ColorGrayLv1)
            url(/assets/img/icon/icon-light-mode.svg) no-repeat center / 1.2rem
            1.2rem;
        border-radius: 50%;
        transition: all 0.4s;
    }

    &.active::after {
        left: 2.9rem;
        background: var(--ColorGrayLv1) url(/assets/img/icon/icon-dark-mode.svg)
            no-repeat center / 1.2rem 1.2rem;
    }
}

/* 툴팁 */
.show-tooltip {
    position: relative;
}

.tooltip {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.8rem 1.2rem;
    background: var(--ColorSurface);
    color: var(--ColorBackground);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
    border-radius: 0.8rem;
    width: max-content;
    max-width: 26rem;
    word-break: break-word;
    z-index: 20;

    &::before {
        content: '';
        position: absolute;
        top: -0.4rem;
        left: 50%;
        width: 0.85rem;
        height: 0.85rem;
        background: inherit;
        border: inherit;
        clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
        transform: translateX(-50%) rotate(135deg);
        border-radius: 0px 0px 0px 0.2rem;
    }
}

/* slider */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.6rem;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0.8rem;
    color: var(--ColorPrimary);
    background: var(--ColorGrayLv2);
    cursor: pointer;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: var(--ColorPrimary);
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 1.6rem;
        cursor: pointer;
    }
}

/* controller-modal (map, speed, 함수, 변수 리스트) */
.controller-modal {
    position: absolute;
    display: flex;
    padding: 1.9rem 2.2rem 1.9rem 2rem;
    background: var(--ColorBackground);
    color: var(--ColorSurface);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    border: 1px solid var(--ColorGrayLv2);
    border-radius: 1rem;
    z-index: 99;
    width: max-content;

    &::before {
        content: '';
        position: absolute;
        top: -1.2rem;
        left: 0.4rem;
        width: 2.4rem;
        height: 2.4rem;
        background: url('/assets/img/icon/icon-polygon.svg') no-repeat center /
            cover;
    }
}

:root[color-theme='dark'] .controller-modal {
    &::before {
        top: -1.1rem;
        background: url('/assets/img/icon/icon-polygon-dark.svg') no-repeat
            center / cover;
    }
}

/* info-modal */
.info-modal {
    position: absolute;
    display: flex;
    padding: 1.6rem;
    background: var(--ColorGrayLv4);
    color: var(--ColorBackground);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    border-radius: 1rem;
    z-index: 20;
    box-sizing: border-box;

    &::before {
        content: '';
        position: absolute;
        top: 1rem;
        left: 0rem;
        width: 0.85rem;
        height: 0.85rem;
        background: inherit;
        border: inherit;
        clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
        transform: translateX(-50%) rotate(45deg);
        border-radius: 0px 0px 0px 0.2rem;
    }
}

/* speech bubble */
.speech-bubble {
    display: inline-block;
    padding: 1rem 1.4rem;
    border-radius: 1.2rem 1.2rem 1.2rem 0px;
    border: 0.2rem solid var(--ColorPrimary);
    background: var(--ColorGrayLv1);
    color: var(--ColorPrimary);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    box-sizing: border-box;
}

/* code (함수, 변수) */
.code-item {
    display: inline-block;
    padding: 0.8rem 1.2rem;
    border-radius: 0.4rem;
    border: 1px solid var(--ColorGrayLv2);
    background: var(--ColorGrayLv1);
    color: var(--ColorSurface);
    font-family: 'Source Code Pro';
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: left;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    padding: 1.4rem 2rem;
    border-bottom: 1px solid var(--ColorGrayLv2);
    box-sizing: border-box;

    h1 {
        width: 4.2rem;
        height: 4.2rem;
    }

    svg > rect {
        fill: var(--ColorPrimary);
    }
}

.menu-list {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    li:last-child {
        margin-left: 0.4rem;
    }
}

/* 메인 */
.main {
    display: flex;
    width: 100%;
    height: calc(100vh - 7rem);
}

/* pyscript */
.py-overlay {
    z-index: 999;
}

/* resizer */
.resizer {
    flex-shrink: 0;
    width: 1px;
    height: 100%;
    background-color: var(--ColorGrayLv2);
    border-style: solid;
    border-color: var(--ColorBackground);
    border-width: 0 1px 0 1px;
    cursor: ew-resize;

    &[data-direction='vertical'] {
        height: 1px;
        width: 100%;
        border-width: 1px 0 1px 0;
        cursor: ns-resize;
    }

    &.story-resizer {
        display: none;
    }
}
