.notebook {
    width: 50rem;
    min-width: 26rem;
    box-sizing: border-box;
}

.notebook-header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 5rem;
    padding: 0 2rem;
    border-bottom: 1px solid var(--ColorGrayLv2);

    h2 {
        color: var(--ColorSurface);
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2rem;
        margin-right: 1.2rem;
    }
}

.btn-add-code {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: var(--ColorPrimary);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;

    &::before {
        content: '';
        display: inline-block;
        width: 2rem;
        height: 2rem;
        @include mask-image(var(--ColorPrimary), '/assets/img/icon/icon-plus.svg');
    }
}

.notebook-btn-list {
    display: flex;
    gap: 1rem;
    margin-left: auto;

    button {
        display: block;
    }
}

.notebook-section {
    display: flex;
    flex-direction: column;
    height: calc(100% - 5.1rem - 1.2rem);
    gap: 0.5rem;
    padding: 0.8rem;
    margin: 0.6rem;
    box-sizing: border-box;
    overflow: auto;
    @include scrollbar;
}

.py-repl-box {
    display: flex;
    // gap: 1rem;
    border-radius: 0.8rem;
}

.py-repl-editor {
    border-radius: 0.8rem;
    border: 1px solid var(--ColorGrayLv2);
    background: var(--ColorGrayLv1);
}

.ͼ1 {
    overflow: hidden;
}

.ͼ1 .cm-scroller {
    font-family: 'Source Code Pro';
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 0.8rem;
    @include scrollbar($track-color: var(--ColorGrayLv1), $padding: 0.6rem);
}

.ͼ1.cm-focused {
    border-radius: 0.8rem;
    outline: 2px solid var(--ColorPrimary);
}

.ͼ1 .cm-foldGutter {
    width: 1rem;
}

.ͼ2 .cm-gutters {
    border: none;
    background: var(--ColorGrayLv1);
}

.ͼ1 .cm-lineNumbers {
    .cm-gutterElement {
        position: relative;
        width: 5.5rem;
        box-sizing: border-box;
        padding: 1rem 1rem 1rem 0;

        &:first-child {
            padding: 0;
        }

        &.cm-activeLineGutter::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0.3rem;
            height: 100%;
            background: var(--ColorPrimary);
        }
    }
}

.cm-gutterElement {
    color: var(--ColorGrayLv3);
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;

    &.cm-activeLineGutter {
        background: var(--ColorActivation);
        color: var(--ColorSurface);
    }
}

.ͼ1 .cm-content {
    padding: 1.2rem 0 0.6rem;
    flex-basis: auto !important;
}

.ͼ1 .cm-line {
    padding: 1rem;
    color: var(--ColorSurface);
    border: none;
    box-sizing: border-box;

    .ͼm {
        color: var(--ColorSurface);
    }
}

.ͼ2 .cm-activeLine {
    background: var(--ColorActivation);
}

.ͼb {
    color: var(--ColorCodePurple);
}

.ͼg {
    color: var(--ColorCodePink);
}

.ͼd {
    color: var(--ColorCodeGreen);
}

.ͼe {
    color: var(--ColorCodeOrange);
}

.ͼ1.cm-focused .cm-matchingBracket {
    background: var(--ColorGrayLv1);
}

.ͼ1.cm-focused .cm-selectionBackground,
.ͼ2 .cm-selectionBackground {
    background: transparent;
}

.ͼ4 .cm-line::selection {
    background: var(--ColorGrayLv2) !important;
}

.ͼ4 .cm-line ::selection {
    background: var(--ColorGrayLv2) !important;
}

.ͼ1 .cm-selectionMatch {
    background: var(--ColorActivation);
}

.cm-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: -1;
    height: 5rem;
    padding: 1rem 1.4rem 1rem 1.2rem;
    border-radius: 0.8rem 0.8rem 0 0;
    border-bottom: 1px solid var(--ColorGrayLv2);
    background: var(--ColorBackground);
    box-sizing: border-box;

    .btn-list {
        display: flex;
        gap: 1rem;

        button {
            display: block;
        }
    }
}

.py-repl-run-button {
    position: static;
    opacity: 1;
    cursor: pointer;
}

.py-repl-output {
    overflow: hidden;
}

.py-error {
    overflow-x: auto;
}

.py-repl-btn-wrap {
    position: relative;
    width: calc(100% - (3rem * 2));
    height: 0.2rem;
    border-radius: 0.2rem;
    background: var(--ColorBackground);
    border: 1px solid var(--ColorBackground);
    margin: 0 auto;
    z-index: 2;
    transition: all 0.3s;
    cursor: pointer;

    .btn-add-code {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 3.6rem;
        padding: 0.8rem 1.6rem 0.8rem 1.2rem;
        border-radius: 1rem;
        border: 1px solid var(--ColorGrayLv2);
        background: var(--ColorBackground);
        box-shadow: var(--EffectShadow);
        box-sizing: border-box;

        &:hover {
            border: 1px solid var(--ColorPrimary);
        }
    }

    &:hover {
        background: var(--ColorGrayLv2);

        .btn-add-code {
            display: flex;
        }
    }
}

.py-error {
    margin-top: 1.2rem;
    padding: 1.6rem;
    border-radius: 8px;
    border: 2px solid var(--ColorError);
    background: var(--ColorGrayLv1);
    color: var(--ColorError);
    font-family: Pretendard;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.2rem;
}
