.world {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.world-header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 5rem;
    padding: 0 2rem;
    border-bottom: 1px solid var(--ColorGrayLv2);

    h2 {
        color: var(--ColorSurface);
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2rem;
        margin-right: 1.2rem;
    }

    .world-btn-list {
        display: flex;
        gap: 1rem;
        margin-left: auto;

        button {
            display: block;
        }
    }
}

.world-map {
    display: flex;
    margin: 0.8rem 0.6rem;
    padding: 3.2rem 2.8rem 3.2rem 3.4rem;
    box-sizing: border-box;
    overflow: auto;
    @include scrollbar;
}

.world-menu {
    position: absolute;
    left: 2rem;
    top: 7rem;
    align-self: start;
    border-radius: 1.6rem;
    border: 1px solid var(--ColorGrayLv2);
    background: var(--ColorBackground);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
    z-index: 15;

    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.4rem;
    }

    & > ul {
        border-bottom: 1px solid var(--ColorGrayLv2);

        &:last-child {
            border-bottom: none;
        }

        & > li {
            position: relative;
        }
    }

    .controller-modal {
        display: none;
        top: 0;
        left: 6.7rem;
        box-sizing: border-box;

        .input-wrap {
            display: flex;
            align-items: center;
            gap: 1.2rem;
        }
    }

    button.active + .controller-modal {
        display: flex;
    }
}

.controll-btn-list {
    border-bottom: 1px solid var(--ColorGrayLv2);

    .controller-modal {
        width: 26.1rem;

        &.wall-type,
        &.select-items,
        &.resize {
            flex-direction: column;
            gap: 1.4rem;
        }
    }
}

.info-btn-list {
    ul {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.8rem 1rem;
        padding: 0;
    }

    .controller-modal {
        flex-direction: column;
        gap: 1.8rem;
        width: 62.7rem;
        padding: 2rem;
    }

    .title {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.4rem;
    }

    .btn-close {
        position: absolute;
        top: 1.6rem;
        right: 1.6rem;
    }
}

.wall-type {
    label {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        cursor: pointer;

        &::after {
            content: '';
            display: block;
            width: 1.8rem;
            height: 1.8rem;
            @include mask-image(
                var(--ColorWallGray),
                '../img/icon/icon-wall-import.svg'
            );
        }
    }

    input#door + label::after {
        @include mask-image(var(--ColorWallBlue), '../img/icon/icon-door.svg');
    }

    input#fence + label::after {
        @include mask-image(
            var(--ColorWallGreen),
            '../img/icon/icon-fence.svg'
        );
    }

    input#delete + label::after {
        display: none;
    }
}

.wall-info {
    width: 1.6rem;
    height: 1.6rem;
    padding: 0.3rem;
    border-radius: 1.8rem;
    background: var(--ColorGrayLv2);
    box-sizing: border-box;
    cursor: pointer;

    &::after {
        content: '';
        display: block;
        width: 1rem;
        height: 1rem;
        @include mask-image(
            var(--ColorBtnSurface),
            '../img/icon/icon-blocked.svg'
        );
    }
}

.select-items {
    label {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        cursor: pointer;

        &::after {
            content: '';
            display: block;
            width: 1.8rem;
            height: 1.8rem;
            background: url('../img/item/fish-1.png') no-repeat center / cover;
        }
    }

    input#fish-2 + label::after {
        background: url('../img/item/fish-2.png') no-repeat center / cover;
    }

    input#fish-3 + label::after {
        background: url('../img/item/fish-3.png') no-repeat center / cover;
    }
}

#app {
    margin: auto;
}

/* map */
.character {
    position: relative;
    animation: player 1s steps(7) infinite;
    transform: rotate(0deg);
    z-index: 10;

    .character-info-bubble {
        flex-direction: column;
        width: 22rem;
        padding: 2rem 2rem 2.4rem;
        font-weight: 600;
    }

    .info-title {
        margin-bottom: 1.6rem;
    }

    .info-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & > .info-item {
            display: flex;
            align-items: center;
            gap: 0.7rem;

            &::before {
                display: block;
                content: '';
                width: 0.3rem;
                height: 0.3rem;
                margin: 0 0.8rem;
                border-radius: 50%;
                background: var(--ColorGrayLv2);
            }

            dt {
                color: var(--ColorGrayLv2);
            }
        }
    }

    .btn-reset {
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 2.2rem;
        height: 2.2rem;
        @include mask-image(var(--ColorGrayLv2), '../img/icon/icon-reset.svg');
    }

    .speech-bubble {
        position: absolute;
        width: max-content;
        max-width: 26rem;
        word-break: break-word;
    }
}

.attack {
    animation: attack-claw-white 0.5s steps(4) 2;
    z-index: 999;
}

.map-container {
    position: relative;
}

.map-items {
    display: grid;
    gap: 0.2rem;
    background: var(--ColorGrayLv2);
    border-radius: 1rem;
    border: 2px solid var(--ColorGrayLv2);
    overflow: hidden;
}

.map-item {
    background: var(--ColorBackground);
    width: 10rem;
    height: 10rem;
    position: relative;
}

.hidden {
    display: none;
}

/* wall */
.wall-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .wall {
        position: absolute;
        border: 1px solid black;
        box-sizing: border-box;
        transform: translate(-50%, -50%);
        width: 0.5rem;
        height: 10rem;
        margin: 1px 0 0 1px;
        /* 기본 벽 */
        background-color: var(--ColorWallGray);
    }
}

/* 가로벽 */
.wall[data-direction='landscape'] {
    width: 10rem;
    height: 0.5rem;
    margin: 2px 0 0 -0.5px;
}

/* wall-type */
.wall[data-type='door'] {
    background-color: var(--ColorWallBlue);
}

.wall[data-type='fence'] {
    background-color: var(--ColorWallGreen);
}

/* output */
.world-output {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    background: var(--ColorGrayLv1);
    color: var(--ColorSurface);
    font-family: Source Code Pro;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
    padding-bottom: 1.9rem;
    overflow: auto;
    @include scrollbar($track-color: var(--ColorGrayLv1), $padding: 0.6rem);

    .output-wrap {
        display: flex;
        order: 2;
        margin-top: -0.4rem;
    }

    .output {
        flex-grow: 1;
    }

    li {
        background: var(--ColorGrayLv1);
    }

    .output-item {
        height: 4rem;
        padding: 1rem;
        white-space: pre;
        box-sizing: border-box;
        background: var(--ColorGrayLv1);
    }

    .index-list {
        position: sticky;
        left: 0;

        li {
            position: relative;
            width: 5.5rem;
            height: 4rem;
            padding: 1rem 1rem 1rem 0;
            box-sizing: border-box;
            text-align: right;
        }

        li.current::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 0.4rem;
            height: 100%;
            background: var(--ColorPrimary);
        }
    }

    .current {
        background: var(--ColorActivation);
    }

    .output-btn-list {
        position: sticky;
        top: 0.6rem;
        left: 0;
        display: flex;
        justify-content: flex-end;
        gap: 0.6rem;
        order: 1;
        padding-right: 0.6rem;

        li {
            background: transparent;
        }
    }

    .btn-reset {
        width: 2.4rem;
        height: 2.4rem;
        @include mask-image(var(--ColorGrayLv3), '../img/icon/icon-reset.svg');

        &:hover {
            background: var(--ColorSurface);
        }
    }
}
