@keyframes player {
    from {
        background-position: -1px, -1px;
    }

    to {
        background-position: -224px, -1px;
    }
}

#app {
    width: 100vw;
}

.character {
    animation: player 1s steps(7) infinite;
}

.map-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.map-item {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
}