@keyframes player {
    from {
        background-position: -1px, -1px;
    }

    to {
        background-position: -224px, -1px;
    }
}

@keyframes line-opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#app {
    width: 100vw;
}

.character {
    animation: player 1s steps(7) infinite;
    z-index: 999;
}

.map-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.map-item {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
}

.hidden {
    display: none;
}

.bubble-title {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.bubble-body-item-title {
    font-size: 1.15rem;
    font-weight: bold;
}