@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");
:root {
  --ColorBtnSurface: #fff;
}

:root,
:root[color-theme='light'] {
  --ColorPrimary: #2f6ff2;
  --ColorBackground: #ffffff;
  --ColorSurface: #121314;
  --ColorGrayLv1: #f3f5fa;
  --ColorGrayLv2: #d9dbe0;
  --ColorGrayLv3: #8d9299;
  --ColorGrayLv4: #47494d;
  --ColorError: #ff3440;
  --ColorLowError: #ffc533;
  --ColorActivation: #dee8ff;
}

:root[color-theme='dark'] {
  --ColorPrimary: #3075ff;
  --ColorBackground: #1f2123;
  --ColorSurface: #ffffff;
  --ColorGrayLv1: #121314;
  --ColorGrayLv2: #595f66;
  --ColorGrayLv3: #d9dbe0;
  --ColorGrayLv4: #f3f5fa;
  --ColorError: #fc7377;
  --ColorLowError: #ffe187;
  --ColorActivation: #2b3444;
}

@-webkit-keyframes player {
  from {
    background-position: -1px, -1px;
  }
  to {
    background-position: -224px, -1px;
  }
}

@keyframes player {
  from {
    background-position: -1px, -1px;
  }
  to {
    background-position: -224px, -1px;
  }
}

@-webkit-keyframes attack-claw-white {
  from {
    background-position: -0px, -0px;
  }
  to {
    background-position: -128px, -0px;
  }
}

@keyframes attack-claw-white {
  from {
    background-position: -0px, -0px;
  }
  to {
    background-position: -128px, -0px;
  }
}

@-webkit-keyframes line-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes line-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Pretendard";
  color: var(--ColorSurface);
  background: var(--ColorBackground);
  letter-spacing: -0.01em;
}

.sr-only {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.sl-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.multi-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

/* basic 버튼 */
.basic-btn {
  padding: 1.1rem 2rem;
  border-radius: 1rem;
  background: var(--ColorPrimary);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  color: var(--ColorBtnSurface);
}

/* 재생 버튼 */
.btn-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--ColorPrimary);
}

.btn-play::before {
  content: '';
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  background: #fff;
  -webkit-mask-image: url("../img/icon/icon-play.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../img/icon/icon-play.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center;
}

.btn-play.next::before {
  -webkit-mask-image: url(../img/icon/icon-play-next.svg);
  mask-image: url(../img/icon/icon-play-next.svg);
}

.btn-play.pause::before {
  -webkit-mask-image: url(../img/icon/icon-pause.svg);
  mask-image: url(../img/icon/icon-pause.svg);
}

.btn-play.stop::before {
  -webkit-mask-image: url(../img/icon/icon-stop.svg);
  mask-image: url(../img/icon/icon-stop.svg);
}

/* 스토리 보기 버튼 */
.btn-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 1rem;
  background: var(--ColorActivation);
}

.btn-story::before {
  content: '';
  display: block;
  width: 2.8rem;
  height: 2.8rem;
  background: var(--ColorGrayLv3);
  -webkit-mask-image: url("../img/icon/icon-book.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../img/icon/icon-book.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center;
}

.btn-story:active::before {
  background: var(--ColorPrimary);
}

/* 다크 모드 버튼 */
.btn-dark-mode {
  position: relative;
  width: 5.6rem;
  height: 3.2rem;
  background: var(--ColorPrimary);
  border-radius: 3.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-dark-mode::after {
  content: '';
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 2.2rem;
  height: 2.2rem;
  background: var(--ColorGrayLv1) url(../img/icon/icon-light-mode.svg) no-repeat center/1.2rem 1.2rem;
  border-radius: 50%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-dark-mode.active::after {
  left: 2.9rem;
  background: var(--ColorGrayLv1) url(../img/icon/icon-dark-mode.svg) no-repeat center/1.2rem 1.2rem;
}

.tooltip {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.8rem 1.2rem;
  background: var(--ColorSurface);
  color: var(--ColorBackground);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  border-radius: 0.8rem;
  z-index: 1;
}

.tooltip::before {
  content: '';
  position: absolute;
  top: -0.4rem;
  left: 50%;
  width: 0.85rem;
  height: 0.85rem;
  background: inherit;
  border: inherit;
  -webkit-clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  -webkit-transform: translateX(-50%) rotate(135deg);
          transform: translateX(-50%) rotate(135deg);
  border-radius: 0px 0px 0px 0.2rem;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0.8rem;
  color: var(--ColorPrimary);
  background: var(--ColorGrayLv2);
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--ColorPrimary);
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 1.6rem;
  cursor: pointer;
}

.controller-modal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.9rem 2.2rem 1.9rem 2rem;
  background: var(--ColorBackground);
  color: var(--ColorSurface);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  border: 1px solid var(--ColorGrayLv1);
  border-radius: 1rem;
  z-index: 99;
}

.controller-modal::before {
  content: '';
  position: absolute;
  top: 1rem;
  left: 0rem;
  width: 0.85rem;
  height: 0.85rem;
  background: inherit;
  border: inherit;
  -webkit-clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  border-radius: 0px 0px 0px 0.2rem;
}

.info-modal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.6rem;
  background: var(--ColorGrayLv4);
  color: var(--ColorBackground);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  border-radius: 1rem;
  z-index: 99;
}

.info-modal::before {
  content: '';
  position: absolute;
  top: 1rem;
  left: 0rem;
  width: 0.85rem;
  height: 0.85rem;
  background: inherit;
  border: inherit;
  -webkit-clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  border-radius: 0px 0px 0px 0.2rem;
}

.speech-bubble {
  display: inline-block;
  padding: 1rem 1.4rem;
  border-radius: 1.2rem 1.2rem 1.2rem 0px;
  border: 0.2rem solid var(--ColorPrimary);
  background: var(--ColorGrayLv1);
  color: var(--ColorPrimary);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.code-item {
  display: inline-block;
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--ColorGrayLv2);
  background: var(--ColorGrayLv1);
  color: var(--ColorSurface);
  font-family: 'Source Code Pro';
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.4rem 2rem;
  border-bottom: 1px solid var(--ColorGrayLv1);
}

.header h1 {
  width: 4.2rem;
  height: 4.2rem;
}

.header svg > rect {
  fill: var(--ColorPrimary);
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
}

.menu-list li:last-child {
  margin-left: 0.4rem;
}

/* #app {
  width: 100vw;
} */
.character {
  -webkit-animation: player 1s steps(7) infinite;
          animation: player 1s steps(7) infinite;
  z-index: 10;
}

.attack {
  -webkit-animation: attack-claw-white 0.5s steps(4) 2;
          animation: attack-claw-white 0.5s steps(4) 2;
  z-index: 999;
}

.map-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.map-item {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1px solid black;
}

.hidden {
  display: none;
}

.bubble-title {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.bubble-body-item-title {
  font-size: 1.15rem;
  font-weight: bold;
}

/* map */
.map-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

/* wall */
.wall-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.wall {
  position: absolute;
  border: 1px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: cyan;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 5px;
  height: 102px;
}

/* 기본 벽 */
.wall {
  background-color: orange;
}

.wall[data-direction='landscape'] {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* type */
.wall[data-type='door'] {
  background-color: sienna;
}

.wall[data-type='fence'] {
  background-color: seagreen;
}

/* .wall */
/*# sourceMappingURL=style.css.map */