@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");
:root {
  --ColorBtnSurface: #fff;
  --ColorWallGray: #959ea6;
  --ColorWallBlue: #4b7af2;
  --ColorWallGreen: #53cb42; }

:root,
:root[color-theme='light'] {
  --ColorPrimary: #2f6ff2;
  --ColorBackground: #ffffff;
  --ColorSurface: #121314;
  --ColorGrayLv1: #f3f5fa;
  --ColorGrayLv2: #d9dbe0;
  --ColorGrayLv3: #8d9299;
  --ColorGrayLv4: #47494d;
  --ColorError: #ff3440;
  --ColorLowError: #ffc533;
  --ColorActivation: #dee8ff;
  --ColorCodePurple: #964dd1;
  --ColorCodePink: #c93864;
  --ColorCodeBlue: #2e5dd6;
  --ColorCodeGreen: #328026;
  --ColorCodeOrange: #ed7200;
  --EffectShadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04); }

:root[color-theme='dark'] {
  --ColorPrimary: #3075ff;
  --ColorBackground: #1f2123;
  --ColorSurface: #ffffff;
  --ColorGrayLv1: #121314;
  --ColorGrayLv2: #595f66;
  --ColorGrayLv3: #d9dbe0;
  --ColorGrayLv4: #f3f5fa;
  --ColorError: #fc7377;
  --ColorLowError: #ffe187;
  --ColorActivation: #2b3444;
  --ColorCodePurple: #c893fd;
  --ColorCodePink: #ed4779;
  --ColorCodeBlue: #618dff;
  --ColorCodeGreen: #50c140;
  --ColorCodeOrange: #ffa52a;
  --EffectShadow: 0px 8px 12px 0px rgba(18, 18, 18, 0.2),
        0px 8px 12px 0px rgba(18, 18, 18, 0.2); }

@keyframes player {
  to {
    background-position: -512px, 0; } }

@keyframes attack-claw-white {
  from {
    background-position: -0px, -0px; }
  to {
    background-position: -128px, -0px; } }

@keyframes line-opacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

html {
  font-size: 10px; }

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Pretendard";
  color: var(--ColorSurface);
  background: var(--ColorBackground);
  letter-spacing: -0.01em;
  overflow: hidden; }

button {
  letter-spacing: -0.01em; }

.sr-only {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0; }

.sl-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.multi-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all; }

/* basic 버튼 */
.basic-btn {
  padding: 1.1rem 2rem;
  border-radius: 1rem;
  background: var(--ColorPrimary);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  color: var(--ColorBtnSurface); }

/* 재생 버튼 */
.btn-play {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--ColorPrimary); }
  .btn-play::before {
    content: '';
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    background: #fff;
    -webkit-mask-image: url("../../assets/img/icon/icon-play.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../../assets/img/icon/icon-play.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center; }
  .btn-play.next::before {
    -webkit-mask-image: url(../../assets/img/icon/icon-play-next.svg);
    mask-image: url(../../assets/img/icon/icon-play-next.svg); }
  .btn-play.pause::before {
    -webkit-mask-image: url(../../assets/img/icon/icon-pause.svg);
    mask-image: url(../../assets/img/icon/icon-pause.svg); }
  .btn-play.stop::before {
    -webkit-mask-image: url(../../assets/img/icon/icon-stop.svg);
    mask-image: url(../../assets/img/icon/icon-stop.svg); }

/* file-export 버튼 */
.btn-file-export {
  width: 2.4rem;
  height: 2.4rem;
  background: var(--ColorGrayLv3);
  -webkit-mask-image: url("../../assets/img/icon/icon-file-export.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../../assets/img/icon/icon-file-export.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center; }
  .btn-file-export:hover {
    background: var(--ColorSurface); }

/* file-import 버튼 */
.btn-file-import {
  width: 2.4rem;
  height: 2.4rem;
  background: var(--ColorGrayLv3);
  -webkit-mask-image: url("../../assets/img/icon/icon-file-import.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../../assets/img/icon/icon-file-import.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center; }
  .btn-file-import:hover {
    background: var(--ColorSurface); }

/* code-download 버튼 */
.btn-code-download {
  width: 2rem;
  height: 2rem;
  background: var(--ColorGrayLv3);
  -webkit-mask-image: url("../../assets/img/icon/icon-code-download.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../../assets/img/icon/icon-code-download.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center; }
  .btn-code-download:hover {
    background: var(--ColorSurface); }

/* code-upload 버튼 */
.btn-code-upload {
  width: 2rem;
  height: 2rem;
  background: var(--ColorGrayLv3);
  -webkit-mask-image: url("../../assets/img/icon/icon-code-upload.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../../assets/img/icon/icon-code-upload.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center; }
  .btn-code-upload:hover {
    background: var(--ColorSurface); }

/* close 버튼 */
.btn-close {
  width: 2rem;
  height: 2rem;
  background: var(--ColorGrayLv3);
  -webkit-mask-image: url("../../assets/img/icon/icon-close.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../../assets/img/icon/icon-close.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center; }
  .btn-close:hover {
    background: var(--ColorSurface); }

.button-before {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 1rem;
  padding: 0.7rem;
  box-sizing: border-box;
  /* 스토리보기 버튼 */
  /* 벽 만들기 버튼 */
  /* 에셋 추가 버튼 */
  /* 월드 크기 조정 버튼 */
  /* 속도 조절 버튼 */
  /* 함수 리스트 버튼 */
  /* 변수 리스트 버튼 */
  /* 초기화 버튼 */ }
  .button-before:hover, .button-before.active {
    background: var(--ColorActivation); }
  .button-before:disabled:hover, .button-before:disabled.active {
    background: transparent; }
  .button-before::before {
    content: '';
    display: block;
    width: 2.8rem;
    height: 2.8rem; }
  .button-before.btn-story::before {
    background: var(--ColorGrayLv3);
    -webkit-mask-image: url("../../assets/img/icon/icon-book.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../../assets/img/icon/icon-book.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center; }
  .button-before.btn-story.active::before {
    background: var(--ColorPrimary); }
  .button-before.btn-wall::before {
    background: var(--ColorGrayLv3);
    -webkit-mask-image: url("../../assets/img/icon/icon-wall-import.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../../assets/img/icon/icon-wall-import.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center; }
  .button-before.btn-wall:disabled::before {
    background: var(--ColorGrayLv2);
    -webkit-mask-image: url("../../assets/img/icon/icon-wall-import.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../../assets/img/icon/icon-wall-import.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center; }
  .button-before.btn-assets::before {
    background: var(--ColorGrayLv3);
    -webkit-mask-image: url("../../assets/img/icon/icon-asset-import.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../../assets/img/icon/icon-asset-import.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center; }
  .button-before.btn-assets:disabled::before {
    background: var(--ColorGrayLv2);
    -webkit-mask-image: url("../../assets/img/icon/icon-asset-import.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../../assets/img/icon/icon-asset-import.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center; }
  .button-before.btn-resize::before {
    background: var(--ColorGrayLv3);
    -webkit-mask-image: url("../../assets/img/icon/icon-world-size.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../../assets/img/icon/icon-world-size.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center; }
  .button-before.btn-resize:disabled::before {
    background: var(--ColorGrayLv2);
    -webkit-mask-image: url("../../assets/img/icon/icon-world-size.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../../assets/img/icon/icon-world-size.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center; }
  .button-before.btn-speed::before {
    background: var(--ColorGrayLv3);
    -webkit-mask-image: url("../../assets/img/icon/icon-speed-control.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../../assets/img/icon/icon-speed-control.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center; }
  .button-before.btn-function::before {
    background: var(--ColorGrayLv3);
    -webkit-mask-image: url("../../assets/img/icon/icon-function-list.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../../assets/img/icon/icon-function-list.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center; }
  .button-before.btn-variable::before {
    background: var(--ColorGrayLv3);
    -webkit-mask-image: url("../../assets/img/icon/icon-variable-list.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../../assets/img/icon/icon-variable-list.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center; }
  .button-before.btn-reset::before {
    background: var(--ColorGrayLv3);
    -webkit-mask-image: url("../../assets/img/icon/icon-reset.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../../assets/img/icon/icon-reset.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center; }
  .button-before.active::before {
    background: var(--ColorSurface); }

/* 다크 모드 버튼 */
.btn-dark-mode {
  position: relative;
  width: 5.6rem;
  height: 3.2rem;
  background: var(--ColorPrimary);
  border-radius: 3.2rem;
  box-sizing: border-box; }
  .btn-dark-mode::after {
    content: '';
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 2.2rem;
    height: 2.2rem;
    background: var(--ColorGrayLv1) url(../../assets/img/icon/icon-light-mode.svg) no-repeat center/1.2rem 1.2rem;
    border-radius: 50%;
    transition: all 0.4s; }
  .btn-dark-mode.active::after {
    left: 2.9rem;
    background: var(--ColorGrayLv1) url(../../assets/img/icon/icon-dark-mode.svg) no-repeat center/1.2rem 1.2rem; }

/* 툴팁 */
.show-tooltip {
  position: relative; }

.tooltip {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.8rem 1.2rem;
  background: var(--ColorSurface);
  color: var(--ColorBackground);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  border-radius: 0.8rem;
  width: max-content;
  max-width: 26rem;
  word-break: break-word;
  z-index: 20; }
  .tooltip::before {
    content: '';
    position: absolute;
    top: -0.4rem;
    left: 50%;
    width: 0.85rem;
    height: 0.85rem;
    background: inherit;
    border: inherit;
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    transform: translateX(-50%) rotate(135deg);
    border-radius: 0px 0px 0px 0.2rem; }

/* slider */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.6rem;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0.8rem;
  color: var(--ColorPrimary);
  background: var(--ColorGrayLv2);
  cursor: pointer; }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--ColorPrimary);
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
    cursor: pointer; }

/* controller-modal (map, speed, 함수, 변수 리스트) */
.controller-modal {
  position: absolute;
  display: flex;
  padding: 1.9rem 2.2rem 1.9rem 2rem;
  background: var(--ColorBackground);
  color: var(--ColorSurface);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  border: 1px solid var(--ColorGrayLv2);
  border-radius: 1rem;
  z-index: 99;
  width: max-content; }
  .controller-modal::before {
    content: '';
    position: absolute;
    top: -1.2rem;
    left: 0.4rem;
    width: 2.4rem;
    height: 2.4rem;
    background: url("../../assets/img/icon/icon-polygon.svg") no-repeat center/cover; }

:root[color-theme='dark'] .controller-modal::before {
  top: -1.1rem;
  background: url("../../assets/img/icon/icon-polygon-dark.svg") no-repeat center/cover; }

/* info-modal */
.info-modal {
  position: absolute;
  display: flex;
  padding: 1.6rem;
  background: var(--ColorGrayLv4);
  color: var(--ColorBackground);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  border-radius: 1rem;
  z-index: 20;
  box-sizing: border-box; }
  .info-modal::before {
    content: '';
    position: absolute;
    top: 1rem;
    left: 0rem;
    width: 0.85rem;
    height: 0.85rem;
    background: inherit;
    border: inherit;
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    transform: translateX(-50%) rotate(45deg);
    border-radius: 0px 0px 0px 0.2rem; }

/* speech bubble */
.speech-bubble {
  display: inline-block;
  padding: 1rem 1.4rem;
  border-radius: 1.2rem 1.2rem 1.2rem 0px;
  border: 0.2rem solid var(--ColorPrimary);
  background: var(--ColorGrayLv1);
  color: var(--ColorPrimary);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  box-sizing: border-box; }

/* code (함수, 변수) */
.code-item {
  display: inline-block;
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--ColorGrayLv2);
  background: var(--ColorGrayLv1);
  color: var(--ColorSurface);
  font-family: 'Source Code Pro';
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  text-align: left; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  padding: 1.4rem 2rem;
  border-bottom: 1px solid var(--ColorGrayLv2);
  box-sizing: border-box; }
  .header h1 {
    width: 4.2rem;
    height: 4.2rem; }
  .header svg > rect {
    fill: var(--ColorPrimary); }

.menu-list {
  display: flex;
  align-items: center;
  gap: 1.6rem; }
  .menu-list li:last-child {
    margin-left: 0.4rem; }

/* 메인 */
.main {
  display: flex;
  width: 100%;
  height: calc(100vh - 7rem); }

/* pyscript */
.py-overlay {
  z-index: 999; }

/* resizer */
.resizer {
  flex-shrink: 0;
  width: 1px;
  height: 100%;
  background-color: var(--ColorGrayLv2);
  border-style: solid;
  border-color: var(--ColorBackground);
  border-width: 0 1px 0 1px;
  cursor: ew-resize; }
  .resizer[data-direction='vertical'] {
    height: 1px;
    width: 100%;
    border-width: 1px 0 1px 0;
    cursor: ns-resize; }
  .resizer.story-resizer {
    display: none; }

.notebook {
  width: 50rem;
  min-width: 26rem;
  box-sizing: border-box; }

.notebook-header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 5rem;
  padding: 0 2rem;
  border-bottom: 1px solid var(--ColorGrayLv2); }
  .notebook-header h2 {
    color: var(--ColorSurface);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    margin-right: 1.2rem; }

.btn-add-code {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: var(--ColorPrimary);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem; }
  .btn-add-code::before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: var(--ColorPrimary);
    -webkit-mask-image: url("../../assets/img/icon/icon-plus.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../../assets/img/icon/icon-plus.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center; }

.notebook-btn-list {
  display: flex;
  gap: 1rem;
  margin-left: auto; }
  .notebook-btn-list button {
    display: block; }

.notebook-section {
  display: flex;
  flex-direction: column;
  height: calc(100% - 5.1rem - 1.2rem);
  gap: 0.5rem;
  padding: 0.8rem;
  margin: 0.6rem;
  box-sizing: border-box;
  overflow: auto; }
  .notebook-section::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem; }
  .notebook-section::-webkit-scrollbar-thumb {
    background-color: rgba(141, 146, 153, 0.5);
    border-radius: 1rem;
    cursor: pointer; }
  .notebook-section::-webkit-scrollbar-track {
    background-color: var(--ColorBackground);
    border-radius: 1rem; }
  .notebook-section::-webkit-scrollbar-corner {
    background: var(--ColorBackground); }

.py-repl-box {
  display: flex;
  border-radius: 0.8rem; }

.py-repl-editor {
  border-radius: 0.8rem;
  border: 1px solid var(--ColorGrayLv2);
  background: var(--ColorGrayLv1); }

.ͼ1 {
  overflow: hidden; }

.ͼ1 .cm-scroller {
  font-family: 'Source Code Pro';
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 0.8rem; }
  .ͼ1 .cm-scroller::-webkit-scrollbar {
    width: 1.8rem;
    height: 1.8rem; }
  .ͼ1 .cm-scroller::-webkit-scrollbar-thumb {
    background-color: rgba(141, 146, 153, 0.5);
    border-radius: 1rem;
    cursor: pointer;
    background-clip: padding-box;
    border-color: transparent;
    border-style: solid;
    border-width: 0.6rem; }
  .ͼ1 .cm-scroller::-webkit-scrollbar-track {
    background-color: var(--ColorGrayLv1);
    border-radius: 1rem; }
  .ͼ1 .cm-scroller::-webkit-scrollbar-corner {
    background: var(--ColorGrayLv1); }

.ͼ1.cm-focused {
  border-radius: 0.8rem;
  outline: 2px solid var(--ColorPrimary); }

.ͼ1 .cm-foldGutter {
  width: 1rem; }

.ͼ2 .cm-gutters {
  border: none;
  background: var(--ColorGrayLv1); }

.ͼ1 .cm-lineNumbers .cm-gutterElement {
  position: relative;
  width: 5.5rem;
  box-sizing: border-box;
  padding: 1rem 1rem 1rem 0; }
  .ͼ1 .cm-lineNumbers .cm-gutterElement:first-child {
    padding: 0; }
  .ͼ1 .cm-lineNumbers .cm-gutterElement.cm-activeLineGutter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0.3rem;
    height: 100%;
    background: var(--ColorPrimary); }

.cm-gutterElement {
  color: var(--ColorGrayLv3);
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 500; }
  .cm-gutterElement.cm-activeLineGutter {
    background: var(--ColorActivation);
    color: var(--ColorSurface); }

.ͼ1 .cm-content {
  padding: 1.2rem 0 0.6rem;
  flex-basis: auto !important; }

.ͼ1 .cm-line {
  padding: 1rem;
  color: var(--ColorSurface);
  border: none;
  box-sizing: border-box; }
  .ͼ1 .cm-line .ͼm {
    color: var(--ColorSurface); }

.ͼ2 .cm-activeLine {
  background: var(--ColorActivation); }

.ͼb {
  color: var(--ColorCodePurple); }

.ͼg {
  color: var(--ColorCodePink); }

.ͼd {
  color: var(--ColorCodeGreen); }

.ͼe {
  color: var(--ColorCodeOrange); }

.ͼ1.cm-focused .cm-matchingBracket {
  background: var(--ColorGrayLv1); }

.ͼ1.cm-focused .cm-selectionBackground,
.ͼ2 .cm-selectionBackground {
  background: transparent; }

.ͼ4 .cm-line::selection {
  background: var(--ColorGrayLv2) !important; }

.ͼ4 .cm-line ::selection {
  background: var(--ColorGrayLv2) !important; }

.ͼ1 .cm-selectionMatch {
  background: var(--ColorActivation); }

.cm-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: -1;
  height: 5rem;
  padding: 1rem 1.4rem 1rem 1.2rem;
  border-radius: 0.8rem 0.8rem 0 0;
  border-bottom: 1px solid var(--ColorGrayLv2);
  background: var(--ColorBackground);
  box-sizing: border-box; }
  .cm-header .btn-list {
    display: flex;
    gap: 1rem; }
    .cm-header .btn-list button {
      display: block; }

.py-repl-run-button {
  position: static;
  opacity: 1;
  cursor: pointer; }

.py-repl-output {
  overflow: hidden; }

.py-error {
  overflow-x: auto; }

.py-repl-btn-wrap {
  position: relative;
  width: calc(100% - (3rem * 2));
  height: 0.2rem;
  border-radius: 0.2rem;
  background: var(--ColorBackground);
  border: 1px solid var(--ColorBackground);
  margin: 0 auto;
  z-index: 2;
  transition: all 0.3s;
  cursor: pointer; }
  .py-repl-btn-wrap .btn-add-code {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3.6rem;
    padding: 0.8rem 1.6rem 0.8rem 1.2rem;
    border-radius: 1rem;
    border: 1px solid var(--ColorGrayLv2);
    background: var(--ColorBackground);
    box-shadow: var(--EffectShadow);
    box-sizing: border-box; }
    .py-repl-btn-wrap .btn-add-code:hover {
      border: 1px solid var(--ColorPrimary); }
  .py-repl-btn-wrap:hover {
    background: var(--ColorGrayLv2); }
    .py-repl-btn-wrap:hover .btn-add-code {
      display: flex; }

.py-error {
  margin-top: 1.2rem;
  padding: 1.6rem;
  border-radius: 8px;
  border: 2px solid var(--ColorError);
  background: var(--ColorGrayLv1);
  color: var(--ColorError);
  font-family: Pretendard;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem; }

.world {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 39rem;
  overflow: hidden; }

.world-header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 5rem;
  padding: 0 2rem;
  border-bottom: 1px solid var(--ColorGrayLv2); }
  .world-header h2 {
    color: var(--ColorSurface);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    margin-right: 1.2rem; }
  .world-header .world-btn-list {
    display: flex;
    gap: 1rem;
    margin-left: auto; }
    .world-header .world-btn-list button {
      display: block; }

.world-menu {
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 0 0.4rem;
  border-bottom: 1px solid var(--ColorGrayLv2);
  background: var(--ColorBackground);
  box-sizing: border-box;
  z-index: 15; }
  .world-menu > ul {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    height: 100%;
    padding: 0 1.6rem; }
    .world-menu > ul:not(:last-child) {
      border-right: 1px solid var(--ColorGrayLv2); }
    .world-menu > ul > li {
      position: relative; }
  .world-menu .button-before {
    height: 3.2rem;
    width: 3.2rem;
    padding: 0.5rem; }
    .world-menu .button-before::before {
      content: '';
      display: block;
      width: 2.1rem;
      height: 2.1rem; }
  .world-menu .controller-modal {
    display: none;
    top: calc(3.2rem + 0.9rem + 1.1rem);
    box-sizing: border-box; }
    .world-menu .controller-modal ul {
      display: flex; }
    .world-menu .controller-modal .input-wrap {
      display: flex;
      align-items: center;
      gap: 1.2rem; }
  .world-menu button.active + .controller-modal {
    display: flex; }

.controll-btn-list .wall-type,
.controll-btn-list .resize {
  flex-direction: column;
  gap: 1.4rem; }

.info-btn-list ul {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.8rem 1rem;
  padding: 0; }

.info-btn-list .controller-modal {
  flex-direction: column;
  gap: 1.8rem;
  width: 62.7rem;
  padding: 2rem; }

.info-btn-list .title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem; }

.info-btn-list .btn-close {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem; }

.wall-type label {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer; }
  .wall-type label::before {
    content: '';
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid var(--ColorGrayLv2);
    border-radius: 50%;
    box-sizing: border-box; }
  .wall-type label::after {
    content: '';
    display: block;
    width: 1.8rem;
    height: 1.8rem;
    background: var(--ColorWallGray);
    -webkit-mask-image: url("../../assets/img/icon/icon-wall-import.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../../assets/img/icon/icon-wall-import.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center; }

.wall-type input#door + label::after {
  background: var(--ColorWallBlue);
  -webkit-mask-image: url("../../assets/img/icon/icon-door.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../../assets/img/icon/icon-door.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center; }

.wall-type input#fence + label::after {
  background: var(--ColorWallGreen);
  -webkit-mask-image: url("../../assets/img/icon/icon-fence.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../../assets/img/icon/icon-fence.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center; }

.wall-type input#delete + label::after {
  display: none; }

.wall-type input:checked + label::before {
  border: 5px solid var(--ColorPrimary); }

.wall-info {
  width: 1.6rem;
  height: 1.6rem;
  margin-left: -0.4rem;
  padding: 0.3rem;
  border-radius: 1.8rem;
  background: var(--ColorGrayLv2);
  box-sizing: border-box; }
  .wall-info::after {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    background: var(--ColorBtnSurface);
    -webkit-mask-image: url("../../assets/img/icon/icon-blocked.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../../assets/img/icon/icon-blocked.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center; }

.select-items {
  flex-wrap: wrap;
  gap: 1.2rem;
  width: 29.8rem;
  padding: 1.9rem; }
  .select-items label {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 10px;
    border: 1px solid var(--ColorGrayLv2);
    background: var(--ColorBackground) url("../../assets/img/item/fish-1.png") no-repeat center/3rem auto;
    box-sizing: border-box;
    cursor: pointer; }
  .select-items label.active {
    border: 2px solid var(--ColorPrimary);
    background-color: var(--ColorActivation) !important; }
  .select-items input:checked,
  .select-items label:hover {
    outline: 2px solid var(--ColorPrimary);
    border: transparent; }
  .select-items input#fish-2 + label {
    background: var(--ColorBackground) url("../../assets/img/item/fish-2.png") no-repeat center/3rem auto; }
  .select-items input#fish-3 + label {
    background: var(--ColorBackground) url("../../assets/img/item/fish-3.png") no-repeat center/3rem auto; }
  .select-items input#diamond + label {
    background: var(--ColorBackground) url("../../assets/img/item/diamond.png") no-repeat center/3rem auto; }
  .select-items input#apple + label {
    background: var(--ColorBackground) url("../../assets/img/item/apple.png") no-repeat center/3rem auto; }

/* map */
.world-map {
  display: flex;
  margin: 0.8rem 0.6rem;
  padding: 3.2rem 2.8rem 3.2rem 3.4rem;
  height: fit-content;
  overflow: auto; }
  .world-map::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem; }
  .world-map::-webkit-scrollbar-thumb {
    background-color: rgba(141, 146, 153, 0.5);
    border-radius: 1rem;
    cursor: pointer; }
  .world-map::-webkit-scrollbar-track {
    background-color: var(--ColorBackground);
    border-radius: 1rem; }
  .world-map::-webkit-scrollbar-corner {
    background: var(--ColorBackground); }

#app {
  margin: auto; }

.character {
  position: absolute;
  width: 6.4rem;
  height: 6.2rem;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 512px 62px;
  animation: player 1s steps(8) infinite;
  z-index: 10; }
  .character .character-info-bubble {
    flex-direction: column;
    position: absolute;
    left: 100%;
    width: 22rem;
    padding: 2rem 2rem 2.4rem;
    font-weight: 600;
    z-index: 20; }
  .character .info-title {
    margin-bottom: 1.6rem; }
  .character .info-list {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    .character .info-list > .info-item {
      display: flex;
      align-items: center;
      gap: 0.7rem; }
      .character .info-list > .info-item::before {
        display: block;
        content: '';
        width: 0.3rem;
        height: 0.3rem;
        margin: 0 0.8rem;
        border-radius: 50%;
        background: var(--ColorGrayLv2); }
      .character .info-list > .info-item dt {
        color: var(--ColorGrayLv2); }
  .character .btn-reset {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 2.2rem;
    height: 2.2rem;
    background: var(--ColorGrayLv2);
    -webkit-mask-image: url("../../assets/img/icon/icon-reset.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../../assets/img/icon/icon-reset.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center; }
  .character .speech-bubble {
    position: absolute;
    width: max-content;
    max-width: 26rem;
    word-break: break-word; }

.attack {
  animation: attack-claw-white 0.5s steps(4) 2;
  z-index: 999; }

.map-container {
  position: relative; }

.map-items {
  display: grid;
  gap: 0.2rem;
  background: var(--ColorGrayLv2);
  border-radius: 1rem;
  border: 2px solid var(--ColorGrayLv2);
  overflow: hidden; }

.map-item {
  background: var(--ColorBackground);
  width: 10rem;
  height: 10rem;
  position: relative; }

.map-item:hover {
  background-color: var(--ColorActivation); }

.hidden {
  display: none; }

/* wall */
.wall-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .wall-container .wall {
    position: absolute;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 10.5rem;
    border-radius: 5rem;
    margin: 1px 0 0 1px;
    /* 기본 벽 */
    background-color: transparent; }
  .wall-container .wall[data-type='']:hover {
    background-color: var(--ColorActivation); }

/* 가로벽 */
.wall[data-direction='landscape'] {
  width: 10.5rem;
  height: 1rem;
  margin: 2px 0 0 -0.5px; }

/* wall-type */
.wall[data-type='wall'] {
  background-color: var(--ColorWallGray); }

.wall[data-type='door'] {
  background-color: var(--ColorWallBlue); }

.wall[data-type='fence'] {
  background-color: var(--ColorWallGreen); }

/* output */
.world-output {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 10rem;
  background: var(--ColorGrayLv1);
  color: var(--ColorSurface);
  font-family: Source Code Pro;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 500;
  overflow: hidden; }
  .world-output .output-header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 0.8rem;
    height: 5rem;
    padding: 0 2rem;
    background: var(--ColorBackground);
    border-bottom: 1px solid var(--ColorGrayLv2);
    box-sizing: border-box;
    z-index: 10; }
    .world-output .output-header h3 {
      color: var(--ColorSurface);
      font-family: Pretendard;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 2rem; }
  .world-output .output-result {
    padding: 1.9rem 0;
    overflow: auto; }
    .world-output .output-result::-webkit-scrollbar {
      width: 1.8rem;
      height: 1.8rem; }
    .world-output .output-result::-webkit-scrollbar-thumb {
      background-color: rgba(141, 146, 153, 0.5);
      border-radius: 1rem;
      cursor: pointer;
      background-clip: padding-box;
      border-color: transparent;
      border-style: solid;
      border-width: 0.6rem; }
    .world-output .output-result::-webkit-scrollbar-track {
      background-color: var(--ColorGrayLv1);
      border-radius: 1rem; }
    .world-output .output-result::-webkit-scrollbar-corner {
      background: var(--ColorGrayLv1); }
  .world-output .output-wrap {
    display: flex; }
  .world-output .output {
    flex-grow: 1; }
  .world-output li {
    background: var(--ColorGrayLv1); }
  .world-output .output-item {
    position: relative;
    height: 4rem;
    padding: 1rem;
    white-space: pre;
    box-sizing: border-box;
    background: var(--ColorGrayLv1); }
    .world-output .output-item[data-error='true'] {
      color: var(--ColorError); }
      .world-output .output-item[data-error='true'].current::before {
        background: var(--ColorError); }
    .world-output .output-item.current::before {
      content: '';
      position: absolute;
      left: -5.5rem;
      top: 0;
      width: 0.4rem;
      height: 100%;
      background: var(--ColorPrimary); }
  .world-output .index-list {
    position: sticky;
    left: 0; }
    .world-output .index-list li {
      position: relative;
      width: 5.5rem;
      height: 4rem;
      padding: 1rem 1rem 1rem 0;
      box-sizing: border-box;
      text-align: right; }
  .world-output .current {
    background: var(--ColorActivation); }
  .world-output .output-btn-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1; }
    .world-output .output-btn-list li {
      background: transparent; }
    .world-output .output-btn-list button {
      display: block; }
  .world-output .btn-reset {
    width: 1.8rem;
    height: 1.8rem;
    background: var(--ColorGrayLv3);
    -webkit-mask-image: url("../../assets/img/icon/icon-reset.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../../assets/img/icon/icon-reset.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center; }
    .world-output .btn-reset:hover {
      background: var(--ColorSurface); }
  .world-output .tooltip {
    font-family: Pretendard; }

.story {
  display: none;
  flex-direction: column;
  width: 50rem;
  min-width: 26rem; }
  .story.show {
    display: flex; }

.story-header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 2rem;
  height: 5rem;
  padding: 0 1.5rem;
  border-bottom: 1px solid var(--ColorGrayLv2); }
  .story-header h2 {
    color: var(--ColorSurface);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    margin-right: 1.2rem; }
  .story-header .btn-write-story {
    color: var(--ColorGrayLv3);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem; }
  .story-header .btn-close-story {
    order: -1;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 0.4rem; }
    .story-header .btn-close-story::before {
      content: '';
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      background: var(--ColorGrayLv3);
      -webkit-mask-image: url("../../assets/img/icon/icon-double-arrow-right.svg");
      -webkit-mask-size: 100%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center center;
      mask-image: url("../../assets/img/icon/icon-double-arrow-right.svg");
      mask-size: 100%;
      mask-repeat: no-repeat;
      mask-position: center center; }
    .story-header .btn-close-story:hover {
      background: var(--ColorActivation); }
      .story-header .btn-close-story:hover::before {
        background: var(--ColorSurface); }

.story-list {
  display: flex;
  flex-direction: column;
  height: calc(100% - 5.1rem);
  gap: 1rem;
  padding: 1.4rem 0.8rem 2rem 2rem;
  margin: 0.6rem 0.8rem 0 0;
  overflow: auto; }
  .story-list::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem; }
  .story-list::-webkit-scrollbar-thumb {
    background-color: rgba(141, 146, 153, 0.5);
    border-radius: 1rem;
    cursor: pointer; }
  .story-list::-webkit-scrollbar-track {
    background-color: var(--ColorBackground);
    border-radius: 1rem; }
  .story-list::-webkit-scrollbar-corner {
    background: var(--ColorBackground); }
  .story-list > li {
    border-radius: 0.8rem;
    border: 1px solid var(--ColorGrayLv2); }
    .story-list > li.active .btn-toggle {
      mask-image: url("../../assets/img/icon/icon-arrow-top.svg"); }
    .story-list > li.active .story-contents {
      display: flex; }

.story-title {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  height: 7rem;
  padding: 0 1.6rem; }
  .story-title::before {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    background: var(--ColorGrayLv3);
    -webkit-mask-image: url("../../assets/img/icon/icon-book.svg");
    -webkit-mask-size: 2rem 2rem;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../../assets/img/icon/icon-book.svg");
    mask-size: 2rem 2rem;
    mask-repeat: no-repeat;
    mask-position: center center; }
  .story-title h3 {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: var(--ColorSurface);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2rem; }
    .story-title h3 > span {
      color: var(--ColorPrimary); }
  .story-title .btn-toggle {
    width: 2.4rem;
    height: 2.4rem;
    margin-left: auto;
    background: var(--ColorGrayLv3);
    -webkit-mask-image: url("../../assets/img/icon/icon-arrow-bottom.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../../assets/img/icon/icon-arrow-bottom.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center; }
    .story-title .btn-toggle:hover {
      background: var(--ColorSurface); }

.story-contents {
  display: none;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.8rem;
  border-top: 1px solid var(--ColorGrayLv2); }

.md-tit1,
.md-tit2,
.md-tit3,
.md-tit4 {
  font-feature-settings: 'clig' off, 'liga' off;
  font-style: normal;
  font-weight: 700;
  line-height: 3.2rem; }

.md-tit1 {
  line-height: normal;
  font-size: 4rem; }
  .md-tit1::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.2rem;
    background: var(--ColorGrayLv2);
    border: 0;
    margin-top: 2rem; }

.md-tit2 {
  font-size: 3.2rem; }

.md-tit3,
.md-tit4 {
  font-size: 2.4rem; }

strong {
  font-weight: bold; }

.md-tit1 {
  display: none; }

.md-p {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.27px; }

.md-figure .md-img {
  margin-bottom: 1.2rem; }

.md-figure figcaption {
  color: var(--ColorGrayLv4);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: center; }

.md-blockquote {
  padding-left: 1.6rem;
  border-left: 4px solid var(--ColorPrimary);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: -0.27px; }

code {
  background: var(--ColorActivation);
  padding: 0 0.6rem;
  border-radius: 0.4rem;
  color: var(--ColorPrimary);
  font-family: Pretendard;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3.2rem;
  letter-spacing: -0.27px; }

.md-pre {
  padding: 3.2rem;
  border-radius: 1rem;
  background: var(--ColorGrayLv1); }
  .md-pre code {
    font-family: 'Source Code Pro';
    font-size: 1.6rem;
    padding: 0;
    border-radius: 0;
    background: transparent;
    color: initial; }

ol.md-list {
  list-style-type: decimal;
  padding-left: 1.4rem; }

.md-list .que-ol-li {
  position: relative;
  padding-left: 0;
  line-height: 1.5; }

.md-ul-li {
  position: relative;
  padding-left: 1em;
  line-height: 1.5; }
  .md-ul-li::before {
    content: '';
    position: absolute;
    top: 0.5em;
    left: 0;
    display: block;
    width: 0.4em;
    height: 0.4em;
    margin-right: 0.5em;
    border-radius: 50%;
    background: var(--ColorSurface); }

.md-list:not(:first-child) .md-ul-li li::before {
  height: 0.2em;
  border-radius: 0; }

.md-table {
  border: 1px solid var(--ColorGrayLv2);
  background: var(--ColorBackground); }

.md-table td,
.md-table th {
  padding: 1rem 1.6rem; }

.md-table th {
  white-space: nowrap;
  background: var(--ColorGrayLv1);
  color: var(--ColorSurface);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem; }

.md-table tr th:not(:last-child),
.md-table tr td:not(:last-child) {
  border-right: 1px solid var(--ColorGrayLv2); }

.md-table td {
  border: 1px solid var(--ColorGrayLv2);
  border-width: 1px 0;
  text-align: left; }

.md-hr {
  width: 100%;
  height: 0.2rem;
  background: var(--ColorGrayLv2);
  border: 0; }

.code-text {
  color: var(--ColorCodeOrange); }

.md-italic {
  font-style: italic; }

/*# sourceMappingURL=style.css.map */